// Colors

$colorsText: #12425b;
$colorsTextLight: #888888;
$colorsTextHeavy: #092634;
$colorsPaper: #f2f2f2;
$colorsDropShadow: #d6d6d6;
$colorsLove: #e55d5d;


// Typography

@import 'src/styles/typographyExtends';
$typeFontFamily: Arial;

body {
  font-size: 14px;
  color: $colorsTextHeavy;
  font-family: $typeFontFamily, sans-serif;
}

p { @extend %typeParagraph; }
h1 { @extend %typeHeader; }
label { @extend %typeLabel; }


// Resets:
body * {
  box-sizing: border-box;
}