$typeFontWeightMed: 300;
$typeFontWeightHeavy: 800;

%type {

  &Paragraph {
    font-size: 1rem;

    &Light {
      color: $colorsTextLight;
    }
  }

  &Header {
    font-size: 1.4rem;
    font-weight: $typeFontWeightHeavy;
  }

  &Caption {
    font-size: 0.8rem;
    font-weight: $typeFontWeightMed;
  }

  &Label {
    font-size: 0.8rem;
    font-weight: $typeFontWeightMed;
    text-transform: uppercase;
  }
}